*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.navbar{
    height:30px;
   width:100vph;
    background-color: rgb(232, 231, 231);
    border-bottom:1px solid #1d8649;
    padding:0px;
    display:flex;
    
   
} 
#tag2{
    text-decoration: none;
    color:#5faf7a;
    background-color: #fff;
    font-size:0.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
    padding:8px;
    height:30px;
    width:13%;
    
}
.nav-left {
    height:30px;
    width:15%;
    list-style:none;
    display:flex;
    background-color: rgb(232, 231, 231);
    color:#1d8649;
    align-items:center;
    border-bottom:1px solid #1d8649;
    border-right:1px solid #1d8649;
   justify-content: center;
   margin:0px;
   
  
  
   

}

.nav-center {
    height:30px;
    list-style:none;
    display:flex;
    align-items:center;
    border-bottom:1px solid #1d8649;
    border-left:1px solid #1d8649;
    justify-content: space-evenly;
    background-color:#fff;
    margin-right:500px;
    width:55%
}

.nav-right {
    height:30px;
    list-style:none;
    display:flex;
    align-items:center;
    border-bottom:1px solid #1d8649;
   justify-content: space-evenly;
   background-color:#fff;
   margin-left:20px;
   margin-right:15px;
   width:25%;
}
.nav-right i{
    color:green;
    font-size: 10px;
    margin-right:5px;
}

.nav-left a,.nav-center a, .nav-right a{
    text-decoration: none;
    color: #5faf7a;
    font-size:0.7rem;
    height:30px;
    
   
}
.nav-left a{
    color:rgb(49, 48, 48);
}
.nav-left a:hover, #tag2:hover, .nav-center a:hover, .nav-right a:hover{
    color:rgb(49, 48, 48);
}
.registration{
    height:15px;
    width:100vph;
     border: none;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top:5px;

}
.login{
    height:50px;
    width:70%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:60px;
    padding-top:30px;
}
.register{
    height:50px;
    width:30%;
    display:flex;
 justify-content: center;
    align-items:center;
    margin-right:160px;
    padding-top:30px;
}
.checkout{
    height:50px;
    width:20%;
    display:flex;
    justify-content: right;
    align-items:center;
    margin-right:40px;
    padding-top:30px;
}
#btn1{
    font-size:0.8rem;
   height:39px;
    width:80px;
    margin-left:901px;
    border:1px solid #dad5d5;
    background-color:whitesmoke;
    color:rgb(24, 97, 24);
    font-weight: bold;
    border-radius: 5%;
    

}
#btn1 i{
    color:rgb(242, 200, 121);
    margin-right:6px;
    font-size: 11px;
}
#btn2{
    font-size:0.8rem;
   height:39px;
    width:80px;
    margin-left:7px;
    border:1px solid #dad5d5;
    background-color:whitesmoke;
    color:rgb(24, 97, 24);
    font-weight: bold;
    border-radius: 5%;

}
#btn3{
    font-size:1rem;
    height:39px;
     width:200px;
     margin-left:-8px;
     border:1px solid #c7c2c2;
     background-color: rgb(214, 213, 213);
     color:white;
     font-weight: bold;
     border-radius:3%;
     
}
#btn1:hover, #btn2:hover{
    cursor: pointer;
}

 .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    width: 80vph;
    background-color: white;
    padding-right:20px;
    
    
    
}

.brandLogo {
    width: 200px;
    margin-top: -18px; 
    margin-left:35px;
}

.searchbar {
    height:42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    margin-left: 45px; 
    margin-top: 25px;
    /* border:1px solid #b3b2b2; */
    border-radius:0px 3px 3px 0px;
}

.searchWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.searchInput {
    
    width:740px;
    height: 42px;
    padding-left: 40px; 
    border: 1px solid #b2b1b1;
    border-radius: 3px 0 0 3px; 
    border-right: none; 
    outline: none;
    color:rgb(7, 6, 6);
}

.searchButton {
    width: 110px;
    height: 44px;
    background-color: #1d8649; 
    color: white;
    border: 1px solid #b2b1b1;
    border-radius: 0px 3px 3px 0px; 
    cursor: pointer;
    font-size: 16px;
}

.searchIcon {
    position: absolute;
    left: 12px;
    top: 30%;
    /* transform: translateY(-50%); */
    color: #f2c879; 
    font-size: 18px;
}

.checkout-box {
    display: flex;
    align-items: center;
    background-color: #f4f3f3;
    border: 1px solid #dad5d5;
    border-radius: 3px;
    padding: 10px;
    margin-left:auto;
    width: 200px;
    margin-right:40px;
    margin-top:-52px;
    height:42px;
}

.price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.price-info span:first-child {
    font-size: 0.9rem;
    font-weight: bold;
    color:rgb(219, 214, 214);
}
b{
    font-size:1.2rem;
}

.price-info span:last-child {
    font-size: 0.7rem;
    color:rgb(219, 214, 214);
    font-weight:bold;
}

.cart-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.cart-icon i {
    color: rgb(219, 214, 214);
    font-size: 1.9rem; 
}

.item-count {
    position: absolute;
    top: -4px;
    right:-13px;
    background-color: rgb(219, 214, 214);
    color: white;
    border-radius: 35%;
    padding: 4px 6px;
    font-size: 0.8rem;
    font-weight: bold;
    width:30px;
    height:15px;
    margin-top:8px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-left:2px solid white;
    border-top:2px solid #f4f3f3;
    /* margin-left:20px; */
}
.down-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.down-icon i {
    color: rgb(219, 214, 214);
    font-size: 1.2rem;
    margin-left:20px;
    margin-bottom: 4px;
}
.primaryBar{
    width:1700px;
    height:35px;
    border:1px solid #064e37;
    background-color: #064e37;
    margin-top:8px;
     display:flex;
    align-items: center; 
     

}
.browseShop {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 250px; 
    height:35px;
    
    
    
}
.itemLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:35px;
    text-decoration: none;
    list-style: none;
}
.item1{
    color:#ffffff;
   font-size: 0.9rem;
   width:92.24px;
   height:17.6px;
   
   margin-left:-110px;
   
    
   

}
#menu{
    color:orange;
    font-size: 0.9rem;
    width:36px;
    height:35px;
    margin:0px 0px 0px 10px;
    padding-top:10.5px;
    
    
    
}

#dropDown{
    color:rgb(223, 173, 80);
    font-size: 1.2rem;
   padding-right:0px;
  margin-right:-6px;
   
}
.border{
    width:0.5px;
    height:18px;
    background-color:green;
}
.favouriteItems {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.favouriteItemLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#favourite{
    color:rgb(70, 101, 70);
    font-size: 1rem;
    margin:-7px;

}
.item2{
    color:#ffffff;
    font-size: 0.9rem;
    width:92.24px;
    height:17.6px;
    margin-right:60px;


}

.offerItems {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.offerItemLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#offer{
    color:rgb(70, 101, 70);
    font-size: 1rem;
    margin:-7px;

}
.item3{
    color:#ffffff;
    font-size: 0.9rem;
    width:92.24px;
    height:17.6px;
    margin-right:60px;


}
.inspirationDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.inspirationLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#inspiration{
    color:rgb(70, 101, 70);
    font-size: 1rem;
    margin:-7px;

}
.item4{
    color:#ffffff;
    font-size: 0.9rem;
    width:92.24px;
    height:17.6px;
    margin-right:35px;


}
.recipesDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.recipesLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#recipes{
    color:rgb(70, 101, 70);
    font-size: 0.5;
    margin:-7px;

}
.item5{
    color:#ffffff;
    font-size: 0.9rem;
    width:92.24px;
    height:17.6px;
    margin-right:60px;


}
.deliveryPass {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.deliveryLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#delivery{
    color:rgb(70, 101, 70);
    font-size: 0.9rem;
    margin:-7px;

}
.item6{
    color:#ffffff;
    font-size: 0.9rem;
    width:92.24px;
    height:17.6px;
    margin-right:60px;


}
.priceDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 200px; 
    height:35px;
    padding-left:10px;
    margin:1px;
}
.priceLink{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:200px;
    height:35px;
    text-decoration: none;
    list-style: none;
}

#price{
    color:rgb(70, 101, 70);
    font-size: 1rem;
    margin:-7px;

}
.item7{
    color:#ffffff;
    font-size: 1rem;
    width:92.24px;
    height:17.6px;
    margin-right:60px;


}
.image-container{
     width:100%;
    height:285px;
    background-color: #008131;
   margin-top:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position:relative;
    
}
.image-container:hover{
    cursor: pointer;
}
.welcomeContainer{
    height:270px;
    width:360px;
    border:1px solid black;
    color:#333333;
    background-color: #ffffff;
    padding:20px 10px 20px 28px;
    margin:25px 25px 25px 35px;
    display:flex;
    flex-direction: column;
   
    
}
.welcomeHeading{
    width:300px;
    height:52px;
    margin:  -10px 10px 15px 0px;
    color:#004E37;
    font-size: 26px;
    font-weight: lighter;
   
    padding:0px 0px 10px 12.5px;

}
p{
    height:23.1px;
    width:250.5px;
    color:#333333;
    font-size: 15px;
    font-weight: lighter;
    
    padding:2px 2px 2px 5px;
    margin:0px 0px 10px 20px;
    
   
    
}
.buttonContainer{
    width:310px;
    height:130px;
    /* border: 1px solid black; */
    margin:10px 5px -50px -8px;
    display:flex;
    
    flex-direction: column;
    gap:10px;
}
.shopButton {
    height:60px;
     display: inline-block; 
    background-color: #FBC800;
    color: #004E37;
    padding: 20px 40px 10px 45px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;

}
.loginButton {
    height:60px;
    display: inline-block;
    background-color: #ffffff;
    color: #004E37;
    padding: 10px 20px 0px 10px;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #004E37;
    /* border-radius: 4px; */
    font-weight: bold;
}
.loginButton i{
    color:#FBC800;
    padding:10px 10px 0px 10px;
}
.heigh{
    height:500px;
    border:1px solid black;
}








