<nav class="navbar navbar-expand-lg my-0 border-bottom first-header">
    <div class="container-fluid ">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(43, 226, 147);">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto  mb-lg-0">
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4 " aria-current="page" href="#">Morrisons.com</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4 " aria-current="page" href="#">Groceries Home</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Morrisons More</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Delivery Pass</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Market Street</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Travel Money</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Inspiration</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Store Finder</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="#">Help Hub & FAQs</a>
            </li>
            <li class="nav-item first-header-item">
                <a class="nav-link pe-4" href="/admin">Admin Panel</a>
            </li>
        </ul>
     </div>
    </div>
 </nav>