<footer class="footer bg-secondary">
    <div class="container ">
      <img class="" src=".//images/morrisonsLogo.png">
        <div class="text-center mt-0 ms-md-5 ps-5 mt-0">
          
          <div class="social-icons ms-5 d-flex justify-content-end ">
            <div class="socialLink rounded-circle bg-warning pt-1 mx-1 "><a href="#" target="_blank"><i class="fab fa-facebook-f text-secondary"></i></a></div>
            <div class="socialLink rounded-circle bg-warning pt-1 mx-1"><a href="#" target="_blank"><i class="fab fa-twitter text-secondary"></i></a></div>
            <div class="socialLink rounded-circle bg-warning pt-1 mx-1"><a href="#" target="_blank"><i class="fab fa-instagram text-secondary"></i></a></div>
            <div class="socialLink rounded-circle bg-warning pt-1 mx-1"><a href="#" target="_blank"><i class="fab fa-youtube text-secondary"></i></a></div>
          </div>
        </div>
      <div class="row ">
        
        
        <div class="col-md-2 ">
          <h6 class="text-warning fw-bold">Our Main Sites</h5>
          <ul class="list-unstyled fw-lighter">
            <li class="text-white"><a class="text-white"href="#">Recipes</a></li>
            <li><a class="text-white"href="#">Food to Order</a></li>
            <li><a class="text-white"href="#">Morrisons More</a></li>
            <li><a class="text-white"href="#">Morrisons Gift Cards</a></li>
          </ul>
        </div>
        
       
        <div class="col-md-2">
          <h6 class="text-warning fw-bold">Help & Information</h5>
          <ul class="list-unstyled ">
            <li><a class="text-white "href="#">Contact Us</a></li>
            <li><a class="text-white" href="#">Store Finder</a></li>
            <li><a class="text-white" href="#">Store Services</a></li>
            <li><a class="text-white"href="#">FAQs</a></li>
            <li><a class="text-white"href="#">Scottish Alcohol Pricing</a></li>
            <li><a class="text-white"href="#">welsh Alcohol Pricing</a></li>
            <li><a class="text-white"href="#">Keeping Safe Online</a></li>
            <li><a class="text-white"href="#">Product Recalls</a></li>
          </ul>
        </div>
        
      
        <div class="col-md-2">
          <h6 class="text-warning fw-bold">Corporate</h5>
          <ul class="list-unstyled">
            <li><a class="text-white"href="#">About Us</a></li>
            <li><a class="text-white"href="#">Corporate Responsibility</a></li>
            <li><a class="text-white"href="#">Investor Centre</a></li>
            <li><a class="text-white"href="#">Careers</a></li>
            <li><a class="text-white"href="#">Modern Slavery Statement</a></li>
            <li><a class="text-white"href="#">Cruelty Free - Leaping Bunny</a></li>
          </ul>
        </div>
        
       
        <div class="col-md-2 ">
          <h6 class="text-warning fw-bold">Terms</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Terms of Use</a></li>
            <li><a class="text-white"href="#">Terms & Conditions</a></li>
            <li><a class="text-white"href="#">Privacy Policy</a></li>
            <li><a class="text-white"href="#">Cookie Policy</a></li>
            <li><a class="text-white"href="#">WEEE Regulations and Battery Recycling</a></li>
            <li><a class="text-white"href="#">Accessibility</a></li>
          </ul>
        </div>
        <p class="copyright pt-3 mb-0 pb-0 text-light-emphasis fw-lighter"> @2024 All rights reserved. Wm Morrisons Supermarket Limited</p>
      </div>
    </div>
  </footer>